body {
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background-color:#f4f4f4;
}

.container {
  padding: 40px;
}

.main-title {
  text-align:center;
  margin-bottom:40px;
  color:blue;
}

.profile-section {
  color:black;
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 40px;
  box-shadow:0px 2px 8px rgba(0, 0, 0, 0.1);
}

.projects-title {
  margin-bottom: 20px;
  color:chartreuse;
}

.projects-grid {
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  gap:20px
}

.projects-card {
  color:black;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow:0px 2px 8px rgba(0, 0, 0, 0.1);
}

.projects-card h3 {
  margin-top: 0;
}

.links {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.links a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}